
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Mr+Dafoe&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mr+Dafoe&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Caveat+Brush&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mr+Dafoe&family=Water+Brush&family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* -<uniquifier> */
.jaro {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size:40px */
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-size:16px */
}

.montserratMarketplace {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* font-size:16px */
}

.montserat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
  /* font-size:16px */
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'RegularBrush'; /* Must match the name in font-family usage */
  src: url('/fonts/RegularBrush.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Momcake-Bold'; /* Must match the name in font-family usage */
  src: url('/fonts/Momcake-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nord-Bold'; 
  src: url('/fonts/Nord-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.regularBrush {
  font-family: 'RegularBrush', sans-serif; /* Use the correct name */
  
}

.momCake {
  font-family: 'Momcake-bold', sans-serif; /* Use the correct name */
  
}

.Nord-Bold{
  font-family: 'Nord-Bold', sans-serif; 
}
